p  {color:#F5F5F5;
	background-color:gray;
	font-size: 20px;
	text-align: center;
	}

h1:after {
  content: ' \00A7';

	

}


h2:after {
  content: ' \00A7';
}




ul {
	 text-shadow: 5px 3px lightblue;
	
	)
	
